<template>
  <div>
    <div class="p-images-box">
      <drag-drop v-model="images" tag="ul" class="image-thums im">
        <li class="image border-n " :style="imageStyle" v-for="image in images" @mouseover="over(image)" @mouseout="out(image)">
          <span>{{image.name}}</span>
          <div class="tool" v-if="image.show">
                        <span class="btn">
                             <i class="el-icon-delete" @click="remove(image)"></i>
                        </span>
          </div>
        </li>
      </drag-drop>
      <div class="image add-button" :style="imageStyle" @click="$refs.input.click();">
        <i class="el-icon-plus"></i>
        <span class="addImg"> Ìí¼ÓÎÄ¼þ</span>
      </div>
    </div>
    <!--<input type="file" ref="inputTwo" hidden @change="mdf_change" :multiple="false">-->
    <input type="file" ref="input" hidden @change="handleChange" :multiple="multiple">
  </div>
</template>
<style lang="stylus">
  .p-images-box{
    overflow: hidden;
  .uploadall{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height:32px;
    line-height:32px;
  &:hover{
     background-color: rgba(0, 0, 0, 0.72);
     color: #fff;
   }
  }
  position: relative;
  .image-thums.im{
    border:none;
    display: inline-block;
  }
  .image{
    vertical-align: middle;
    /*margin:5px;*/
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  img{
    width:100%;
    height:100%;
  }
  .tool{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    /*background-color: rgba(0, 0, 0, 0.72);*/
    text-align: center;
  .btn{
    display: inline-block;
    color: #aaa;
    font-size: 1.25rem;
    cursor: pointer;
    vertical-align: middle;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    margin-top: 35%;

  }
  /*.btn .i{*/
    /*color: #aaa;*/
    /*display: block;*/
    /*font-size: 24px;*/
    /*line-height: inherit;*/
    /*margin: 0 auto 5px;*/
  /*}*/
  .btn:hover{
    transform: translateY(-8px);
  }
  .btn:not(:first-child){
    margin-left: 20px;
  }
  .image-status{
    border-radius: 50%;
    border:2px solid gainsboro;
    color: #fff;
    position: absolute;
    right: 0;
    top:0;
    padding: 2px;
  }
  }
  }
  .border-n{
    border: none;
    margin: 0 5px 5px 0px;
  }
  .add-button{
    /*position: absolute;*/
    top:0;
    right:0;
    margin: 0;
    /*width:100%;*/
    height:100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  &:hover{
     background-color: rgba(42,73,52,0.2);
   }
  &:active{
     background-color: rgba(42,73,52,0.35);
   }
  &::after{
     vertical-align: middle;
     content: '';
     width:0;
     height:0;
     display: inline-block;
   }
  i{
    margin-top: 35%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .addImg{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
  }
  }
  }

</style>
<script>
  export default {
    data(){
      return {
        images:(this.init || []),
        tempIndex:0,
        mdfIndex:0,
      }
    },
    methods:{
      upload(){
        this.images.forEach(image=>this.upimage(image));
        console.log('upload');
      },
      upimage(image){
        console.log('upimage');
      },
      remove(image){
        let index = this.images.indexOfFun(row=>row.uid === image.uid);
        this.images.splice(index, 1);
      },
//      mdf_img(image){
//        let index = this.images.indexOfFun(row=>row.uid === image.uid);
//        this.mdfIndex=index;
//        this.$refs.inputTwo.click();
//      },
//      mdf_change(ev){
//        const files = ev.target.files;
//        if (!files) {
//          return;
//        }
//        let fileArr = Array.prototype.slice.call(files);
//        fileArr.forEach((file,index)=>{
//          file.uid = Date.now() + this.mdfIndex;
//          let  reader = new FileReader();
//          reader.readAsDataURL(file) ;
//          reader.onload =(e)=> {
//            let  imgs = e.target.result;
//            let parm = {
//              uid:file.uid,
//              name:file.name,
//              size:file.size,
//              xls:imgs,
//              show:false,
//            };
//            if (this.thumbnailMode) {
//              try {
//                parm.path = URL.createObjectURL(file);
//              } catch (err) {
//                console.error(err);
//                return;
//              }
//            }
////                        this.images.push(parm);
//            this.images.splice(this.mdfIndex,1,parm);
//            console.log(this.images)
//          }
//        });
//
//
//
//      },
      handleChange(ev){
        const files = ev.target.files;
        if (!files) {
          return;
        }
        let fileArr = Array.prototype.slice.call(files);
        fileArr.forEach((file,index)=>{
          file.uid = Date.now() + this.tempIndex++;
          let  reader = new FileReader();
          reader.readAsDataURL(file) ;
          reader.onload =(e)=> {
            let  imgs = e.target.result;
            let parm = {
              uid:file.uid,
              name:file.name,
              size:file.size,
              xls:imgs,
              show:false,
            };
            if (this.thumbnailMode) {
              try {
                parm.path = URL.createObjectURL(file);
              } catch (err) {
                console.error(err);
                return;
              }
            }
            this.images.push(parm);
            console.log(this.images)
          }
        });

      },
      out(image){
        if(!this.edit){
          image.timer = setTimeout(()=>{
            image.show=false;
          },300);
        }
      },
      over(image){
        if(!this.edit){
          clearTimeout(image.timer);
          image.show=true
        }
      }
    },
    computed:{
      imageStyle(){
        return {
          width: this.image.width || 'auto',
          height: this.image.height || 'auto',
        }
      }
    },
    props:{
      init:{},
      item:{},
      thumbnailMode:{},
      image:{
        type:Object,
        default(){
          return {};
        }
      },
      multiple:{
        type:Boolean,
        default(){
          return true;
        }
      },
      edit:{
        type:Boolean,
        default(){
          return false;
        }
      }
    },
    components:{
      dragDrop:require('../components/drag-drop')
    }
  }
</script>
